@import "../../../_global.scss";

.auth {
    height: 80vh;
    background: linear-gradient(rgba(26, 5, 43, 0.58), rgba(26, 5, 43, 0.58)),
        url("https://res.cloudinary.com/dou9sjstz/image/upload/v1664554166/auth-page-bg_hx5p9o.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    // .auth-container {
    //     padding: 20px;
    // }

    .form-container {
        background: #fff;
        max-width: 400px;
        padding: 2rem;
        border-radius: 20px;

        .network-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            li {
                list-style: none;
                background: #f1f1f1;
                margin: 10px;
                margin-left: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 20px;
                border-radius: 4px;
                border: 3px solid #f1f1f1;
                user-select: none;
                transition: .3s linear;

                &:active {
                    transform: scale(0.9);
                }
            }

            .selected-network {
                border: 3px solid $kg_color;
                color: $kg_color;
            }
        }

        h2 {
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            padding: 10px;
            border-radius: 9999px;
            border: 1px solid #D8D8D8;
            margin: 20px 0;
            margin-top: 5px;
        }
    }
}